        h1 {
            color: rgb(46, 46, 44);
        }  
        
        body {
            background-color: rgb(197, 198, 180);
            font-family: Helvetica, sans-serif;
        }
        
        #wrap {
        height: 200px;
        width: 800px;
        position: relative;
        }

        #container {
            align-items: center;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
