        h1 {
            color: rgb(46, 46, 44);
        }  
        
        body {
            background-color: rgb(197, 198, 180);
            font-family: Helvetica, sans-serif;
        }

        #banner {
           width: 50%;
           display: block;
           margin-left: auto;
           margin-right: auto;
} 

        #table {
           margin-left: auto;
           margin-right: auto;
} 

        
        #wrap {
            width: 50%;
            position: center;        
        }

        #contain {
            position: center;
            margin-left: auto;
            margin-right: auto;
        }


