        h1 {
            color: rgb(46, 46, 44);
          font-weight: bold;
        }  
        
        body {
            background-color: rgb(197, 198, 180);
            font-family: Helvetica, sans-serif;
        }

        #banner {
           width: 50%;
           display: block;
           margin-left: auto;
           margin-right: auto;
        }

        #table {
           background-color: rgb(220, 221, 206);
           width: 50%;
           border-spacing: 100px;
           position: center;
           margin-left: auto;
           margin-right: auto;
        }

        #contain {
            width: 50%;
            display: block;
            position: center;        
            margin-left: auto;
            margin-right: auto;
        }

        #maintext {
            background-color: rgb(220, 221, 206);
            padding: 20px;
        }
